# Supervised Learning Model of Spotify Dataset:
# Workout vs. Non-Workout Music

https://www.kaggle.com/datasets/maharshipandya/-spotify-tracks-dataset/data

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [4]:
df = pd.read_csv('dataset.csv')
df.head()

   Unnamed: 0                track_id  ... time_signature track_genre
0           0  5SuOikwiRyPMVoIQDJUgSV  ...              4    acoustic
1           1  4qPNDBW1i3p13qLCt0Ki3A  ...              4    acoustic
2           2  1iJBSr7s7jYXzM8EGcbK5b  ...              4    acoustic
3           3  6lfxq3CG4xtTiEg7opyCyx  ...              3    acoustic
4           4  5vjLSffimiIP26QG5WcN2K  ...              4    acoustic

[5 rows x 21 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114000 entries, 0 to 113999
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        114000 non-null  int64
 1   track_id          114000 non-null  object
 2   artists           113999 non-null  object
 3   album_name        113999 non-null  object
 4   track_name        113999 non-null  object
 5   popularity        114000 non-null  int64
 6   duration_ms       114000 non-null  int64
 7   explicit          114000 non-null  bool
 8   danceability      114000 non-null  float64
 9   energy            114000 non-null  float64
 10  key               114000 non-null  int64
 11  loudness          114000 non-null  float64
 12  mode              114000 non-null  int64
 13  speechiness       114000 non-null  float64
 14  acousticness      114000 non-null  float64
 15  instrumentalness  114000 non-null  float64
 16  liveness          114000 non-null  float64
 17  valence           114000 non-null  float64
 18  tempo             114000 non-null  float64
 19  time_signature    114000 non-null  int64
 20  track_genre       114000 non-null  object
dtypes: bool(1), float64(9), int64(6), object(5)
memory usage: 17.5+ MB

In [6]:
df.describe()

          Unnamed: 0     popularity  ...          tempo  time_signature
count  114000.000000  114000.000000  ...  114000.000000   114000.000000
mean    56999.500000      33.238535  ...     122.147837        3.904035
std     32909.109681      22.305078  ...      29.978197        0.432621
min         0.000000       0.000000  ...       0.000000        0.000000
25%     28499.750000      17.000000  ...      99.218750        4.000000
50%     56999.500000      35.000000  ...     122.017000        4.000000
75%     85499.250000      50.000000  ...     140.071000        4.000000
max    113999.000000     100.000000  ...     243.372000        5.000000

[8 rows x 15 columns]

In [ ]:

# Drop na values
df.dropna(inplace=True)

# Check for missing values
missing_values = df.isnull().sum()
print("Missing values in each column:")
print(missing_values)

Missing values in each column:
Unnamed: 0          0
track_id            0
artists             0
album_name          0
track_name          0
popularity          0
duration_ms         0
explicit            0
danceability        0
energy              0
key                 0
loudness            0
mode                0
speechiness         0
acousticness        0
instrumentalness    0
liveness            0
valence             0
tempo               0
time_signature      0
track_genre         0
dtype: int64

In [ ]:
# Feature selection
Features = ['']